{
    "Index": "{{.Index}}",
    "Data": "{{.SillyName}}",
    "Noun": "{{.Noun}}",
    "Adjective": "{{.Adjective}}",
    "NumberOneToHundred": "{{.NumberOneToHundred}}",
    "FloatZeroToHundred": "{{.FloatZeroToHundred}}",
    "Paragraph": "{{.Paragraph}}",
    "Boolean": "{{.Boolean}}",
    "EpochTime": {{.EpochTime}},
    "IpV4Address": {{.IpV4Address}}
}