{
    "Index": "{{.Index}}",
    "Noun": "{{.Noun}}",
    "Adjective": "{{.Adjective}}",
    "SillyName": "{{.SillyName}}",
    "City": "{{.City}}",
    "State": "{{.State}}",
    "StringNumber1": "{{.StringNumber1}}",
    "StringNumber2": "{{.StringNumber2}}",
    "StringNumber3": "{{.StringNumber3}}",
    "StringNumber4": "{{.StringNumber4}}",
    "StringNumber5": "{{.StringNumber5}}",
    "StringNumber10": "{{.StringNumber10}}",
    "StringNumber15": "{{.StringNumber15}}",
    "StringNumber20": "{{.StringNumber20}}",
    "NumberOneToHundred": "{{.NumberOneToHundred}}",
    "FloatZeroToOne": "{{.FloatZeroToOne}}",
    "FloatZeroToHundred": "{{.FloatZeroToHundred}}",
    "Paragraph": "{{.Paragraph}}",
    "Boolean": "{{.Boolean}}",
    "TimeEpoch": {{.TimeEpoch}},
    "TimeRFC3339": {{.TimeRFC3339}},
    "IpV4Address": {{.IpV4Address}}
}